/* style.css */

@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:700,900");
@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,500");

body {
  font-size: 18px;
  line-height: 1em;
  font-family: "IBM Plex Sans", sans-serif;
  background-color: #f9f6f0;
  color: #0d2d3f;
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}

@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}

@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}

img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.container {
  width: 70%;
  margin: 40px auto;
  text-align: center;
}

.text {
  width: 40%;
  margin: 40px auto;
  text-align: justify;
}

#pic {
  margin: 0 auto;
}

a {
  color: hotpink;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
  color: limegreen;
}

a:hover {
  text-decoration: underline;
  color: skyblue;
}

a:active {
  text-decoration: underline;
}

h1 {
  font-size: 48px;
  line-height: 1.125em;
  font-weight: 900;
}

h2 {
  font-size: 24px;
  line-height: 1.4em;
  margin-top: 30px;
  margin-bottom: 16px;
}

h1,
h2,
h3 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  color: #041620;
}
main {
  margin: 150px auto 72px auto;
  width: 45vw;
}

p {
  line-height: 1.5em;
  letter-spacing: normal;
}

footer {
  margin: 0px auto 72px auto;
  width: 45vw;
  line-height: 1.5em;
  text-align: center;
}
